body {
  background-color: rgba(250, 249, 200, 0.904);
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  padding-top: 90px;
  height: 800px;
}

header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(240, 180, 180);
  font-size: 22px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  max-height: 100px;
  z-index: 100;
  text-align: center;
  font-weight: 800;
  text-shadow: 1px 2px 12px rgb(140, 140, 140);
  box-shadow: 2px 2px 12px rgb(240, 240, 240);
}

.navbar a {
  text-decoration: none;
  color: #f0f0f0;
  display: block;
}

.navbar a:hover,
.navbar a.active {
  color: blue;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 2.2fr 2.2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 75%;
  grid-auto-flow: row;
  grid-template-areas:
    "Dev1 Dev2"
    "Dev3 Dev4"
    "Dev5 Dev6";
}

.Dev1,
.Dev2 {
  height: 25;
}
.Dev1 {
  grid-area: Dev1;
  border: 1px solid black;
}

.Dev2 {
  grid-area: Dev2;
  border: 1px solid black;
}

.Dev3,
.Dev4 {
  height: 25;
}

.Dev3 {
  grid-area: Dev3;
  border: 1px solid black;
}

.Dev4 {
  grid-area: Dev4;
  border: 1px solid black;
}

.Dev5,
.Dev6 {
  height: 25;
}

.Dev5 {
  grid-area: Dev5;
  border: 1px solid black;
}

.Dev6 {
  grid-area: Dev6;
  border: 1px solid black;
}
